#home{
	background-color: #34cfc6;
	height:100%;
}

/* navigation -------------------------------------*/

.ui-btn-active {
	background-color:#34cfc6;
}
.ui-footer .ui-navbar li {
	height: 100%;
}

.ui-controlgroup-controls {
width: 100%;
}
.ui-radio.ui-mini {
width: 20%;
}
label.ui-btn.ui-corner-all.ui-btn-inherit {
	font-weight: normal;
	font-size: 12px;
	height: 32px;
	text-align: center;
}
/* questionnaire ----------------------------------*/
label.ui-btn img {
width: 60%;
}